$header-bg: #444;
$aside-bg: #333;
$header-text: rgba(255, 255, 255, 0.7);

* {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: 400;
}

a {
    color: black;
}

.header {
    background-color: $header-bg;
    color: $header-text;
    padding-top: 13px;
    padding-bottom: 13px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;


    &__logo {
        margin: 0 18px;

        &-inner {
            max-width: 164px;
        }
    }

    &__search {
        width: 50%;
        margin-right: 20px;

        &-input {
            margin-bottom: 0;
            background-color: #f2f2f2;
            border: none;

            &:focus {
                background-color: #fff;
                border: none;
            }
        }
    }

    &__git {
        margin-left: auto;
        margin-right: 20px;

        &-link {
            color: $header-text;

            &:hover,
            &:active {
                color: #fff;
            }
        }
    }
}

.content {
    margin-left: 200px;

    &__title {
        margin-top: 20px;
    }
}

.aside {
    background-color: $aside-bg;
    width: 200px;
    height: 100%;
    position: fixed;

    &-nav {
        margin-top: 20px;

        &__list {
            .pl-button {
                padding: 12px;
                margin-bottom: 0;
            }

            .pl-button.link {
                color: $header-text;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.img-wrapper {
    overflow: hidden;
    border-radius: .25rem;
    position: relative;
}

.films-wrapper {
    margin-bottom: 20px;

    &_icon {
        max-width: 100%;
        height: auto;
        border-radius: .25rem;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &_vote {
        text-align: center;
        background-image: url('../img/star.png');
        position: absolute;
        right: 3px;
        top: 3px;
        background-size: cover;
        width: 47px;
        height: 47px;
        padding-top: 15px;
        padding-left: 1px;
        font-weight: bold;
    }

    &_title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        margin: 0 0 4px 0;
    }

    &_subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        font-weight: 400;
        margin: 0;
    }
}

.details {
    &-overlay {
        &__img {
            width: 100%;
        }
    }
}

// @media (min-width: 768px) {
//     #sidebar-container {
//         position: sticky;
//         display: block;
//         // top: 90px;
//     }
// }