$header-bg: #444;
$header-text: rgba(255, 255, 255, 0.7);

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: $header-bg;
    color: $header-text;

    &__logo {
        width: 100%;
    }

    &__search {}

    &__git {}

    &-nav {
        &__list {
            display: flex;
            list-style: none;
        }
    }
}

.pl-button {
    margin-bottom: 10px;
}

.pl-button.link {
    color: $header-text;

    &:hover {
        color: #fff;
    }
}